html { scroll-behavior: smooth; box-sizing: border-box; }
body {
    background-color: #f4f4f4;
    color: #555;
    font-family: serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

button {
    text-decoration:none;
    border:none;
    outline:none;
    cursor: pointer;
    color: #555;
    background-color: #f4f4f4;
}    

a, a:hover, a:active {
    text-decoration:none;
    border:none;
    outline:none;
    cursor: pointer;
    color: #555;
    background-color: #f4f4f4;
}

.clr { clear: both; }

.mainHeader {
    position: sticky;
    top: 0px;
    z-index: 5;
    background-color:#f4f4f4;
    color: #555;
    height: 35px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
}
.mainHeader h5 {
    text-align: center;
    color: #555;
    font-family: serif;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 0.5em;
}
    
#navList {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
.navElement {
    display: inline;
    border: solid;
    border-width: thin;
    border-color: #fac0a5;
    font-family: serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 0.5em;
    line-height: 0.5em;
    font-size: 10px;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 5px;
}
.navElement:hover { color: #fac0a5; Border-color: #fac0a5; cursor: pointer; }

#prettyBackground {
    background-image: url('images/purdyBeach.jpeg');
    background-size: cover;
    background-position: center;
    padding-bottom: 20px;
}

#introSpace {
    width: 100%;
    height: 350px;
}
#greeting {
    width: 80%;
    margin: auto;
    transform: translate(0%,30%);
    padding-top: 50px;
}
#greetingName {
    float: left;
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
    font-family: serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 0.5em;
    text-align: center;
    height: 150px;
    width: 600px;
}
#bigName { font-size: 40px; padding: 40px 0; }
#smallName { font-size: 20px; }
#greetingTerminal {
    float: right;
    background-color: #262522;
    color: #d6d6d6;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    height: 175px;
    width: 500px;
    margin: auto;
    border-radius: 10px;
}
#terminalTop {
    height: 20px;
    color: #000;
    background-color:  #bab8b3;
    font-size: 10px;
    border-radius: 10px 10px 0 0;
}
.orb {
    text-align: center;
    border-radius: 100px;
    width: 10px;
    height: 10px;
    float: left;
    margin-top: 6px;
    margin-left: 10px;
}    
#redOrb { background-color: #ed655a; }
#yellowOrb { background-color: #e1c14c; }
#greenOrb { background-color: #72bf47; margin-right: 125px; }
#terminalBody { padding-left: 10px; }    
#terminalBody h2 { padding-left: 70px; }

#personalInfo {
    background-color: #787177;
    color: #e0e0e0;
    width: 80%;
    font-size: 20px;
    padding: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: serif;
    padding-bottom: 10px;
    border-radius: 10px;
    opacity: 0.85;
    margin-top: 10px;
}
#bio { width: 80%; margin: auto; }
#bio h3 {
    text-align: center;
    border: solid;
    border-style: thin;
    border-color: #fff;
    border-radius: 20px;
    background-color: #d4d4d4;
    color: #525252;
    width: 800px;
    margin: auto;
    margin-top: 30px;
    padding: 7px 0;
}
#profileLinks { padding-top: 15px; margin: auto; text-align: center;  }
#profileLinks i { color: black; margin-right: 30px; }
#profileLinks i:hover { cursor: pointer; color: purple; }

#options {
    width: 60%;
    margin: auto;
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 90px;
}
.grid-item {
    cursor: pointer;
    height: 210px;
    transition: all 0.5s;
    border-radius: 10px;
    border: solid;
}
.grid-item:hover {
    opacity: 0.7;
    transform: scale(0.98);
}
.grid-item h1 {
    text-align: center;
    background-color: rgba(207,209,203,0.75);
    margin-top: 50px;
    padding: 10px;
    font-family: serif;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    word-spacing: 0.3em;
} 
#educationOption {
    background: url('images/campus.jpg');
    background-size: cover;
}
#projectsOption {
    background: url('images/fullCode.jpeg');
    background-size: cover;
}

#educationBackground {
    background-image: url('images/campus.jpg');
    background-size: cover;
    background-position: center;
}
#education {
    background-color: #9c9b9a;
    color: #000;
    padding: 30px 0;
    opacity: 0.9;
}
#skinnyEducation { margin:auto; width:60%; }
#educationTitle { 
    text-align: center;
    color: #fff;
    font-family: serif;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    word-spacing: 0.3em;
    padding-bottom: 10px;
    padding-top: 20px;
    margin: 0;
}    
#blockM {
    display: inline;
    float: left;
    padding-right: 18px;
    width: 90px;
    height: auto;
}
.left { line-height: 2px; float: left; }
.right { line-height: 2px; float: right; }
#coursework {
    float: left;
    color: #000;
    background-color: #e8eaed;
    opacity: 0.5;
    border-radius: 10px;
    padding: 0 10px;
    margin-top: 30px;
}
.center h5 { text-align: center; }
#langAndTech { float: right; }
#languages { margin-top: 0; }
.outlineLang {
	border: solid;
	border-width: thin;
	border-color: #ffcb09;
	padding: 5px 10px;
	margin-right: 5px;
	border-radius: 15px;
}
.outlineTech {
	border: solid;
	border-width: thin;
	border-color: #045dc9;
	padding: 5px 10px;
	margin-right: 5px;
	border-radius: 15px;
}

#projectBackground {
    background-image: url('images/fullCode.jpeg');
    background-size: cover;
    background-position: center;
}
#projects {
    text-align: center;
    color: #fff;
    background-color: #9c9b9a;
    padding: 30px 0;
    opacity: 0.9;
}
#projectTitle {
    text-align: center;
    font-family: serif;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    word-spacing: 0.3em;
    padding-bottom: 10px;
    padding-top: 20px;
    margin: 0;
    color: #e0e0e0;
    background-color: #62606b;
    opacity: 0.96;
    width: 200px;
    margin: auto;
    margin-bottom: 5px;
    border-radius: 20px;
}    
#projectGridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    opacity: 0.95;
    margin: auto;
    width: 80%;
}
.projectElement h3 {
    border: solid;
    border-style: thin;
    border-width: 2px;
    border-color: #fff;
    color: #62606b;
    background-color: #e0e0e0;
    border-radius: 20px;
    padding: 5px 0;
}
.projectElement {
    background-color: #62606b;
    color: #e0e0e0;
    height: auto;
    border-radius: 5px;
    padding: 30px 20px;
}
.projectLangages {
    border: solid;
    border-style: thin;
    border-width: 2px;
    border-radius: 20px;
    padding: 5px 0;
    width: 100px;
    margin: auto;
}    
#plusplus { border-color: #0084ff; }
#python { border-color: #00ff8c; }
#js { border-color: #fffb00; }
#c { border-color: #00c3ff; }

#questions {
    backgroun-color: #fff;
    border: solid;
    border-radius: 10px;
    width: 800px;
    margin: auto;
    padding: 20px 0;
    margin-top: 20px;
}
#questionTitle { 
    text-align: center;
    font-family: serif;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    word-spacing: 0.3em;
    padding-bottom: 10px;
    padding-top: 20px;
    margin: 0;
    margin-bottom: 20px;
}  
#qInfo { text-align: center; margin-bottom: 20px; }
#qInfo b { font-size: 20px; }
#questionLinks { text-align: center; }
#questionLinks i { margin-right: 20px; } 
#questionLinks i:hover { cursor: pointer; color: #fac0a5; }

#footerArea {
    padding: 5px;
    margin-bottom: 0;
    font-weight: lighter;
    margin: 20px auto;
}
#footerArea h3 {
    border: solid;
    border-width: thin;
    border-color: #fac0a5;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 15px;
    width: 300px;
    text-align: center;
    margin: auto;
}

@media(max-width: 1380px) {
    #mainBackground { height: 350px; }
    #greeting { width: 80%; transform: translate(0%,0%); padding-top: 10px; }
    #greetingName { float: none; margin: auto; width: auto; margin-bottom: 15px; }
    #bigName { text-align: center; margin: auto; }
    #smallName { text-align: center: margin: auto; }
    #greetingTerminal { float: none; width: 380px; }
    #bio h3 { width: 90%; }

    #coursework { float: none; max-width: 400px; margin: auto; }
    #langAndTech { float: none; max-width: 450px; margin: auto; }

    .outlineLang { margin: 10px 5px; height: 35px; }
    .outlineTech { margin-right: 5px; }
    
    #projectGridContainer { grid-template-columns: repeat(2, 1fr); height: auto; }
}

@media(max-width: 575px) {
    #introSpace { height: auto; }
    #bigName { text-align: center; margin: auto; line-height: 40px; }
    #greetingTerminal {  margin-top: 60px; }
    
    #options { grid-template-columns: repeat(1, 1fr); grid-gap: 40px; }

    #blockM { float: none; margin: auto; display: block; }
    .left { float: none; margin: auto; text-align: center; }
    .right { float: none; margin: auto; text-align: center; }
    
    #questions { width: auto; margin: 20px; }
}

@media(max-width: 500px) {
    #greetingName { float: none; margin: auto; width: auto; margin-bottom: 15px; }
    #greetingTerminal { float: none; width: auto; }

    .outlineLang { margin: 10px 5px; height: 35px; }
    .outlineTech { margin-right: 5px; }
    
    #projectGridContainer { grid-template-columns: repeat(2, 1fr); height: auto; }

    #questions { width: auto; margin: 20px; }    
}








